<div class="content">
  <div class="container-fluid">
    <div class="row">

      <div class="main_game">
        <div id="enchant-stage" ></div>
      </div>

      <%= bootstrap_form_tag url: '/apipost' do |f| %>
        <% f.form_group class: "form-inline" do %>
          <%= f.text_field_without_bootstrap :sent , class: "form-control", maxlength: 200 %>
          <%= f.submit "送信", data: { disable_with: "送信中..." } %>
        <% end %>
      <% end %>
      <p>URIを入力すると、そのサイトのBodyタグのtextを評価してグラフィックが変わります。</p>
      <p>ポジティブな内容だとたくさんの花が咲きます。</p>
    </div>
  </div>
</div>
